---
name: Lint Dockerfile

on: [push, pull_request]

jobs:
  lint:
    name: Lint Dockerfile with hadolint
    strategy:
      matrix:
        dockerfile:
          - 5.0/apache/Dockerfile
          - 5.0/fpm-alpine/Dockerfile
          - 5.0/fpm/Dockerfile
          - 6.0/apache/Dockerfile
          - 6.0/fpm-alpine/Dockerfile
          - 6.0/fpm/Dockerfile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: ${{ matrix.dockerfile }}
          ignore: "DL4006,DL3008,DL3018"
