name: Test Latest Container Images

on: [push, pull_request]

jobs:
  test_images:
    name: Test Latest Container Images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        context:
          - apache
          - fpm-alpine
          - fpm
    steps:
      - name: 'Check out the repo'
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - name: 'Set up QEMU'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: 'arm64,arm'

      - name: 'Set up Docker Buildx'
        uses: docker/setup-buildx-action@v2

      - name: 'Build Container images'
        uses: docker/build-push-action@v5
        with:
          context: 6.0/${{ matrix.context }}
          push: false
          load: true
          tags: docker.io/martialblog/limesurvey:6-${{ matrix.context }}

      - name: 'Run Structure tests'
        uses: plexsystems/container-structure-test-action@v0.3.0
        with:
          image: docker.io/martialblog/limesurvey:6-${{ matrix.context }}
          config: tests/${{ matrix.context }}-tests.yaml
